@charset "utf-8";
/* CSS Document */

/*
NAME:basic公共层
Author:兰文文
Date:2014-10-25
*/

/*内外边距*/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0;padding: 0;}

/*字体*/
body{font:12px/21px '微软雅黑';_font-family:'微软雅黑'!important; }

/*ul*/
ul{list-style:none;}

/*a*/
a{text-decoration:none;}

/*img*/
img{border:0 none;}

/*包裹*/
#wrap{text-align:left;}

/*浮动*/
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clear{clear:both;}

/*塌陷*/
.w980{width:980px;margin:0 auto; overflow:hidden; zoom:1;}
.w525{width:525px;margin:0 auto; overflow:hidden; zoom:1;}
.pc_overflow{overflow:hidden; zoom:1;}

/*margin-top上外边距*/
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}

/*ml 左外边距*/
.ml0{margin-left:0px !important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml55{margin-left:55px;}

/*文字位置*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

/*block*/
.disBlock{display:block;}

/*字体大小*/
.ft{font-size:14px;}

/*line23*/
.line23{line-height:23px;}

/*边框去除*/
.borderNone{border:0 none !important;}

/*字体加粗*/
.ftw{font-weight:bold;}

/*ft0*/
.ft0{font-size:0px !important;}