{include file="header.html"}

    <!--关于我们-->
    <div id="about" class="pc_overflow">
        <div id="about_son" class="w980 mt50">
            <!--左侧-->
            {include file="sidebar.html"}
            <!--右侧-->
            <div id="right" class="fr ml5">
                <div><span>关于我们　　　　　　　　　　　　　　　　　　　　　　　　　　  　　　　　　About us</span></div>
                <div><img src="{$smarty.const.TP}img/line.png" class="mt2" /></div>
                <div><img src="{$smarty.const.TP}img/gywm.png" width="544" height="395" class="fr mt15"/></div>
                <div class="clear"></div>
                <div class="text">
                   {$resone.contents}
                </div>
                <div class="mt25"><span>公司优势　　　　　　　　　　　　　　　　 　　　　　　　　　　 　　　　　Advantage</span></div>
                <div><img src="{$smarty.const.TP}img/line.png" class="mt2" /></div>
                <div class="mt15 gsys">
                    <div><img src="{$smarty.const.TP}img/clys.png"  class="fl pic" height="92" width="61"/></div>
                    <div><span class="fr text mt10">我公司使用材料的原则是：永远比竞争对手使用的材料高一个档次。与全国知名材料生产商及经销建立了<br />良好合作关系！先了解材料生产源头的具体情况再染经销商合作事宜。形成了稳定的配送体系，由专人管理，<br />避免了以次充好，以假充真的现象。选用国内知名材料，坚决不做贴牌。</span></div>
                </div>
                <div class="mt15 gsys">
                    <div><img src="{$smarty.const.TP}img/wtjtk.png"  class="fl pic" height="92" width="61"/></div>
                    <div><span class="fr text text2 mt10 mt30">为了保护客户利益，我公司郑重承诺：3次设计不满意将无条件退款。为了保护客户利益，我公司公司郑公</span></div>
                </div>
                <div class="mt25 gsys">
                    <div><img src="{$smarty.const.TP}img/wxfw.png"  class="fl pic" height="92" width="61"/></div>
                    <div><span class="fr text mt10">我公司使用材料的原则是：永远比竞争对手使用的材料高一个档次。与全国知名材料生产商及经销建立了<br />良好合作关系！先了解材料生产源头的具体情况再染经销商合作事宜。形成了稳定的配送体系，由专人管理，<br />避免了以次充好，以假充真的现象。选用国内知名材料，坚决不做贴牌。</span></div>
                </div>
                <div class="mt25 gsys">
                    <div><img src="{$smarty.const.TP}img/zytd.png"  class="fl pic" height="92" width="61"/></div>
                    <div><span class="fr text mt10">我公司使用材料的原则是：永远比竞争对手使用的材料高一个档次。与全国知名材料生产商及经销建立了<br />良好合作关系！先了解材料生产源头的具体情况再染经销商合作事宜。形成了稳定的配送体系，由专人管理，<br />避免了以次充好，以假充真的现象。选用国内知名材料，坚决不做贴牌。</span></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
   {include file="footer.html"}