{include file="header.html"}
    <!--产品展示-->
    <div id="show" class="pc_overflow w980">
        <div class="mt35"><span>产品展示　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　Configure</span></div>
        <div><img src="{$smarty.const.TP}img/line.png" class="mt2" width="980" /></div>
        <div class="w525">
            <div class="save fl mt15"><span class="text disBlock ml15">省钱</span></div>
            <div class="fl mt20"><span class="text1 ml5">整装设计，避免了边装边选材料，保证最终效果实<br />&nbsp;现，未动工就可以做到心中有数，杜绝边装边加钱</span></div>
            <div><img src="{$smarty.const.TP}img/ico.png" width="120"  class="fr"/></div>
        </div>
        <div class="pic"></div>
        <div class="w525 mt5">
            <div class="save fl mt15"><span class="text disBlock ml15">省心</span></div>
            <div class="fl mt20"><span class="text1 text2 ml15">杜绝材料拿回扣的原则，装修中损耗全包</span></div>
            <div><img src="{$smarty.const.TP}img/ico5.png" width="120"  class="fr" /></div>
        </div>
        <div class="pic2"></div>
        <div class="w525 mt5">
            <div class="save fl mt15"><span class="text disBlock ml15">省力</span></div>
            <div class="fl mt20"><span class="text1 text2 ml15">无须三天两头为换货、补货、退货东奔西跑</span></div>
            <div><img src="{$smarty.const.TP}img/ico6.png" width="120" class="fr"/></div>
        </div>
        <div class="pic1"></div>
        <div class="w525 mt5">
            <div class="save fl mt15"><span class="text disBlock ml15">省时</span></div>
            <div class="fl mt20"><span class="text1 ml10">公司集中大单采购，大大压缩了厂家利润空间，<br />&nbsp;&nbsp;无须为买主材东奔西跑</span></div>
            <div><img src="{$smarty.const.TP}img/ico7.png" width="120"  class="fr"/></div>
        </div>
        <div class="pic2"></div>
        <div class="w525 mt5">
            <div class="save fl mt15"><span class="text disBlock ml15">放心</span></div>
            <div class="fl mt20"><span class="text1 text2 ml5">减免了因退换货的物流成本</span></div>
            <div><img src="{$smarty.const.TP}img/ico6.png" width="120" class="fr" /></div>
        </div>
        <div class="pic1"></div>
    </div>
    <!--footer-->
   {include file="footer.html"}