{include file="header.html"}

<!-- BEGIN CONTAINER -->

<div class="page-container">

    {include file="sidebar.html"}

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            {include file="nav.html"}
            <!--内容区域-->
            <div id="main">

                <form action={U('customer','updateTodo',"cid={$resone.cid}")} method="post" enctype="multipart/form-data">

                    合作客户名称: <input type="text" name="customername" value="{$resone.customername}"/><br /><br />

                    合作客户网址: <input type="text" name="customerurl" value="{$resone.customerurl}"/>友情链接网址需以http://开头<br /><br />

                    <input type="file" name="customerimage"><a href="{$resone.customerimage}">图像已上传，重新上传会覆盖</a>

                    <br /><br />

                    <input type="submit" value="我要更新" class="btn">

                </form>

            </div>


        </div>

        <!-- END PAGE -->

    </div>

    <!-- END CONTAINER -->

    {include file="footer.html"}