<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start active ">

            <a href="index.php">

                <i class="icon-home"></i>

                <span class="title">首页</span>

                <span class="selected"></span>

            </a>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-user"></i>

                <span class="title">管理员管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('users','index')}">管理员列表</a>

                </li>

            </ul>

        </li>
        <li class="">

            <a href="javascript:;">

                <i class=" icon-book"></i>

                <span class="title">文章管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('blogs','index')}">文章管理列表</a>

                </li>

            </ul>

        </li>

    <li class="">

        <a href="javascript:;">

            <i class="icon-list-alt"></i>

            <span class="title">分类管理</span>

            <span class="arrow "></span>

        </a>

        <ul class="sub-menu">

            <li >

                <a href="{U('categories','index')}">分类管理列表</a>

            </li>

        </ul>

    </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-magnet"></i>

                <span class="title">友情链接管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('friendlink','index')}">友情链接管理列表</a>

                </li>

            </ul>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-glass"></i>

                <span class="title">合作客户管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('customer','index')}">合作客户管理列表</a>

                </li>

            </ul>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-briefcase"></i>

                <span class="title">设计团队户管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('team','index')}">设计团队管理列表</a>

                </li>

            </ul>

        </li>

        <li class="">

            <a href="javascript:;">

                <i class="icon-gift"></i>

                <span class="title">精品案例管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li >

                    <a href="{U('cases','index')}">精品案例管理列表</a>

                </li>
                <li >

                    <a href="{U('style','index')}">装饰风格列表</a>

                </li>
                <li >

                    <a href="{U('area','index')}">装饰面积列表</a>

                </li>
                <li >

                    <a href="{U('layout','index')}">装饰户型列表</a>

                </li>

            </ul>

        </li>

    <!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR -->